
#game-container {
    border: 1px solid black;
    background-color: #eba9a9;
    width: 850px;
    height: 700px;
    margin: 0 auto;

}

#score-board {
    width: 250px;
    height: 500px;
    text-align: center;
    font-family: "Georgia";
    background-color: #91b1ba;
    border: 1px solid black;
    box-shadow: 10px 5px #749198;
    color: #545354;
}
#score-board h3 {
    font-family:'Georgia';
    font-size: 30px;
    color: #efc2c1;
    margin-top: 1px;
    margin-bottom: 8px;
}

#current-score {
    width: 250px;
    height: 500px;
    font-size: 60px;
    margin-right: 40px; 
    text-align: center;
    vertical-align: middle;
    font-family:'Roboto';
    font-size: 30px;
    color: #545354;
    background-color: #91b1ba;
    border: 1px solid black;
    box-shadow: 10px 5px #749198;
}

#current-score h3 {
    margin-top: 1px;
    color:#efc2c1;
    font-family: "Georgia";
}

#current-score p {
    font-size: 50px;
}

body {
    background-color: #e6a4b4;

    background-image: url("background.png");


}

#dirt {
    clear: both;
    display: flex;
    flex-wrap: wrap;


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em;
}

#1, #2, #3, #4, #5, #6, #7, #8, #9 {

    /* Demo-Specific Styles */
    line-height: 22px;
    padding-left: 5px;
    padding-top: 1px;
    padding-right: 5px;
    position: relative;
    
    /* Flex Fallback */
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 200px;
}

#dirt-image{ 
    padding-left: 25px;
    width:250px;

}

